<% layout('layouts/base') %>

<h1>¡Bienvenido, <%= username %>!</h1>

<p>Tu correo registrado es: <strong><%= email %></strong></p>

<p>Estamos contentos de verte por aquí </p>

<hr>

<a href="/users/logout">Cerrar sesión</a>